/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.text-colour {
    /* color: rgb(32, 194, 14); */
    color:grey;
    
}

body {
    font-family: "Fira Code", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    display: flex;    /* arrange children easily */      
    flex-direction: column;    /* stack children vertically */
    min-height: 100vh;         
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;         
    margin: 0;            
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:space-between;
  
}

/* NAVBAR, MAIN BODY, FOOTER */

.main {
    flex: 1; /* to fill the space */
    padding-left: 10px;
}

nav {
    height: 2vh;
    background-color: white;
}

.footer-buttons{
    display:flex;
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
    padding: 20px;
}

a {
    color: grey;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover, button.menu-button:hover {
    color: black; 
    
}

button.menu-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: grey;
  cursor: pointer;
}

.logo {
    font-size: 1.5rem;
    padding-right: 20px;
}

.logo:hover {
    cursor: default;
}

.footer {
    margin-top: auto;   /* push the footer to the bottom of the page */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    height: 5vh;
    
}

/* SECTIONS*/

.section-divider {
    padding: 10px;

}

